*{
    color: white;
    background-color: #0B0B0B;
}
.delete{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
}
.delete-pop{
    width: 30%;
    background-color: #FFF4F4;
    border-radius: 5px;
    height: 10rem;
    padding: 10px;
}
h3,p{
    background-color: #FFF4F4;
    color: #0B0B0B;
}
p{
    background-color: #FFF4F4;
    color: #0B0B0B;
}
button{
    float: right;
    margin: 10px;
    padding: 5px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:nth-child(2){
    background-color: #56C05A;
}
button:nth-child(1){
    background-color: #F74D4D;
}