*{
    color: white;
    background-color: #0B0B0B;
}

.navbar{
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.navbar .left{
    width: 50%;
}
.left img{
    width: 70px;
    margin-left: 20px;
}
.navbar .right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.right ul{
    display: flex;
}
.right ul li{
    margin-right: 2rem;
    list-style-type: none;
    font-weight: 500;
}
.product {
    display: flex;
    justify-content:center;
    align-items: flex-start;
}
.product-main{
    margin-top: 20px;
    width: 90%;
}
.list-product{
    display: flex;
}
.card{
    margin-right: 10px;
}
.list-product img{
    width: 100%;
    height: 15rem;
}
.card .desc{
    margin-top: -4px;
    width: 100%;
    height: 4rem;
    padding: 5px 10px;
    background-color: #212121;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
}
p{
    margin-top: -4px;
    margin-bottom: 2px;
    background-color:#212121 ;
    font-size: 12px;
    line-height: 20px;
}
.merc{
    color: #F74D4D;
    font-weight: 900;
}